::v-deep .el-dialog__header {
  border-bottom: 14px solid #F3F3F3 !important;
}

::v-deep .el-dialog__body {
  padding: 16px !important;
}

::v-deep .el-dialog__footer {
  border-top: 14px solid #F3F3F3 !important;
}
